<div style="text-align: center;">
  <h1 style="text-align: center; margin-top: 25px;">
    Feature currently under construction
      <br><small>Bartenders are meme chefs specially selected by the Frizzleskillet team to create memes for you.</small>
  </h1>

  <%= link_to "Home", home_path, style: "font-weight: bold; font-size: 1.5em;" %>

</div>
