$(function() {
  $('.postTitle').html("<p>Title: <%= (@all_posts.find_by(id: session[:currentIndex])).title %></p>");
  $('.postOwner').html("<p> Poster: <%= User.find_by(id: (@all_posts.find_by(id: session[:currentIndex])).user_id).name %></p>");
  $('.postDescription').html("Description: <p><%= (@all_posts.find_by(id: session[:currentIndex])).description %></p>");
  $('#buffetPostImage').html("<%= escape_javascript image_tag((@all_posts.find_by(id: session[:currentIndex])).picture.url, alt: "first image") if (@all_posts.find_by(id: session[:currentIndex])).picture? %>");

});
