<!-- All of the users the current user is subscribed to -->
<% provide(:title, "Personal Chefs") %>
<% provide(:subtitle, "Memers you love") %>

<div class="container">

    <div class="row">
      <div class="col-md-offset-2">
        <h1 style="text-align: center; font-weight: bold;">Personal Chefs
          <br><small>
            All of the chefs that you are personally subscribed to
          </small>
        </h1>
        <hr>
      </div>
    </div>

    <% if @subscriptions.count == 0 %>
      <div class="row col-md-offset-1">
        <h3>You have not subscribed to any other chefs.</h3>
      </div>
    <% else %>
      <div class="row col-md-offset-2">
      <% @subscriptions.each do |sub| %>

        <%= link_to(user_path(sub)) do %>
          <div class="col-md-3">
            <%= image_tag(sub.picture.url, class:"personalChefsSubPicture thumbnail") %>
            <h4 class="personalChefsSubName"><%= sub.name %></h4>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
