<%= render 'layouts/sidebar' %>

<div class="container">

    <div class="row">
      <div class="col-md-offset-2">
        <h1 style="text-align: center; font-weight: bold;">Subscribers
          <br><small>
            Other peeps who like your memes.
          </small>
        </h1>
        <hr>
      </div>
    </div>

    <% if @subscribers.count == 0 %>
      <div class="row col-md-offset-1">
        <h3>No one is currently subscribed to your memes.</h3>
      </div>
    <% else %>
      <div class="row col-md-offset-2">
      <% @subscribers.each do |sub| %>

        <%= link_to(user_path(sub)) do %>
          <div class="col-md-3">
            <%= image_tag(sub.picture.url, class:"personalChefsSubPicture thumbnail") %>
            <h4 class="personalChefsSubName"><%= sub.name %></h4>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
