<% provide(:title, "Notifications") %>
<% provide(:subtitle, "The hippitty haps") %>
<%= render 'layouts/sidebar' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2">
      <h1>Notifications</h1>
    </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-9 notificationBlock">
      <%= render 'notifications' %>
    </div>
  </div>
  </div>
</div>
