
<!--This renders the posts on the user profile page -->
<% if @posts.any? %>
  <div class="col-md-offset-1">
    <% @posts.each do |post| %>
      <div class="col-md-3 postThumbnail">
        <div class="thumbnail">


          <!--If this is the current_user's profile then let them delete posts -->
          <% if logged_in? %>
            <% if current_user.id == @user.id %>
              <div class="whiteCircle"> <!--Helps make sure the background of the 'X' is white-->
              </div>
              <%= link_to({controller:"posts", action:"destroy", :post_id => post.id}, class:" deleteProfilePostButton",
                method: "delete", data: {confirm: "Are you sure you want to delete your dank meme?", remote: true}) do %>
                <b class="glyphicon glyphicon-remove-sign"></b>
              <% end %>

            <% end %>
          <% end %>

          <%= link_to(posts_feed_user_path(@user, :post_id => post.id)) do %>
            <%= image_tag post.picture.url if post.picture? %>
          <% end %>
        </div>

        <div class="caption">
          <% if post.title.nil? %> <!-- Add default title just in case -->
            <h4>Dank Meme</h4>
          <% else %>
            <h4>
              <% if post.main_course %>
                <b class="glyphicon glyphicon-star"
                  style="position: absolute; right: 9%; top: 10%; color: #ffff00; font-size: 1.75em;
                  background-color: #5555ee; border-radius:25px; width: 25px; height: 25px;"></b>
              <% end %><%= post.title %>
          </h4>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
