
<div class="container">

  <%= link_to "Change Username", "#", class: "btn btn-default btn-lg" %><br>
  <%= link_to "Change Email", "#", class: "btn btn-default btn-lg"%><br>
  <%= link_to "Change Profile Picture", "#", class: "btn btn-default btn-lg"%><br>
  <%= link_to "Change Password", "#", class: "btn btn-default btn-lg" %>

</div>
