<%= provide(:background_image, "profileBackground") %>
<% provide(:title, "Profile") %>
<% provide(:subtitle, "Dank Memer") %>

<!-- notification modals for when users do something (Update profile, make a new post, signup, etc) -->
<%= render 'users/user_modals' %>

<div class="container">

  <div class="row">
    <div class="col-md-offset-1 col-md-11">
      <!--Header partial contains the upper block with all of the profile information and functionality -->
      <%= render 'users/user_profile_header' %>
    </div>
  </div>

  <div class="row">

    <div class="userProfilePosts">
      <!-- Partial renders all of the user's posts -->
      <%= render 'users/user_profile_posts' %>
    </div>

  </div>
</div>
