<% if object.errors.any? %>

  <p><%= pluralize(object.errors.count, "error")%> prevented this page from being submitted.</p>

  <ul>

    <% object.errors.full_messages.each do |error| %>

      <li><%= error %></li>

    <% end %>

  </ul>

<% end %>
