<% if @user.errors.any? %>

  <p><%= pluralize(@user.errors.count, "error")%> prevented this page from being submitted.</p>

  <ul>

    <% @user.errors.full_messages.each do |error| %>

      <li><%= error %></li>

    <% end %>

  </ul>

<% end %>
