@import "bootstrap-sprockets";
@import "bootstrap";


//Left-hand sidebar menu for the site
.sidebar
{
  position: fixed;
  height: 100%;
  width: 150px;
  background-color: #444444;
  z-index: 1000; //Make sure that the menu is always the frontmost div

  li
  {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
  }

  a
  {
    color: #ffffff;

    &:hover
    {
      color: #0000ff;
    }
  }
}


#logo
{
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 15px;

}

header
{
  ul
  {

    li
    {
      float: right;
      margin-bottom: -4px;
      padding-top: 4px;
      font-size: 1.5em;

    }
  }
}



//login screen
.loginBlock
{
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30%;

  h1
  {
    font-size: 3.0em;
    text-align: center;
    font-weight: bold;
  }
}

//signup screen
.signupBlock
{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20%;

  h1
  {
    font-size: 3.0em;
    text-align: center;
    font-weight: bold;
  }
}



//Edit screen
.editProfilePictureBlock
{
  margin-left: -40px;
  margin-top: 60px;
}
.editProfilePicture
{
  width: 180px;
  height: 180px;
  border: 1px solid black;
  margin: 2px;
  margin: auto;

  img
  {
    max-width: 180px;
    max-height: 180px;
    vertical-align: middle;
    height: 100%;
    margin: auto;
  }
}

.editProfileBlock
{
  margin-top:-270px;
}



.dropdown-menu
{
  li
  {
    float: left;
    width: 180px;
    max-width: 180px;

  }

}


#myButtonMenu
{
  margin-top: -2px;
  margin-right: -45px;
  float: right;
}




#overheadList
{

  width: 50%;
  margin: auto;

  li
  {
    font-size: 1.4em;
    padding-left: 12px;
    padding-right:12px;
  }
}

//Carousels

#mainCarousel
{

  width: 820px;
  height: 425px;
  margin: auto;

  .item img
  {
    max-width: 860px;
    max-height: 425px;
    margin: auto;
  }
}




//Post feed stuff (Should be able to use these class for main course, buffet, profile, bar, and personal chef feeds)
//Heading above main post image (Contains Poster, Poster picture, timestamp, and like/dislike buttons)

//container for header stuff
.postHeading
{
  //border: 1px solid black;
  margin-bottom: 1%;
  margin-top: 2%;
  margin-left: 5%;
}

//For some reason the link for the picture and username are taking up the entire block. Adding a idsplay option to the link
//makes it take up the right amount of space
.linkToPosterProfile
{
  display: inline-block;
  &:hover
  {
    text-decoration: none;
  }
}


//The upper left media object on each post
.posterMediaObject
{
  margin-top: -15px;
}

.posterPicture
{
  width: 75px;
  height: 75px;
  border: 1px solid black;
  border-radius: 50px;
  display: inline-block;
  margin-top: -15px;

  img
  {
    max-width: 75px;
    max-height: 75px;
    vertical-align: middle;
    height: 100%;
  }

}

.postOwner
{
  font-size: 1.3em;
  font-weight: bold;
  padding-right: 15px;
  margin-right: 15px;
  margin-bottom: -25px;
  text-decoration: none;
}

.postTime
{
  font-size:0.65em;
}

.postLikes
{
  display: inline;
  //float: right;
  font-size: 1.0em;
  margin: 5px;
  font-weight: bold;
}

.postDislikes
{
  display: inline;
  //float: right;
  font-size: 1.0em;
  margin: 5px;
  font-weight: bold;
}

.postLikeButton
{
  display: inline-block;
  float: right;
  font-weight: bold;
  margin-top: -10px;
  margin-right: 5px;
}

.postDislikeButton
{
  display: inline-block;
  float: right;
  font-weight: bold;
  margin-top: -10px;
  margin-right: 5px;
}

//end of post heading stuff


//Main post image on the page (holds all the memes)
.mainPostImage
{

  width: 800px;
  height: 433px;
  margin: auto;
  border: 1px solid #aaaaaa;
  margin-left: 5%;
  padding: 4px;

  img
  {
    max-width: 790px;
    max-height: 425px;
    display: block;
    margin: auto;
    vertical-align: middle;
    height: 100%;
  }

  //~ means look for siblings
  &:hover ~ .buffetPrevButton
  {
    opacity: 1.0;
  }

  &:hover ~ .buffetNextButton
  {
    opacity: 1.0;
  }
}

.buffetPrevButton
{
  position: absolute;
  top:180px;
  left:63px;
  //margin-top: -215px;
  //margin-left: -858px;
  padding-top: 35px;
  height: 100px;
  //-webkit-backface-visibility: hidden; //This prevents the buttons from flickering (Works like freaking magic)
  opacity: 0.0;

  &:hover
  {
    opacity: 1.0;
  }
}

.buffetNextButton
{
  position: absolute;
  top:180px;
  left:800px;
  //margin-top: 100px;
  //margin-left: -85px;
  padding-top: 35px;
  height: 100px;
  //-webkit-backface-visibility: hidden;
  opacity: 0.0;

  &:hover
  {
    opacity: 1.0;
  }
}
//end of main post image section




.postCaption
{
  text-align: center;
  margin-top: 12px;
  border: 1px solid #777777;
  border-radius: 15px;
  margin-left: 5%;

  h2
  {
    margin: auto;
    text-align:center;
    font-weight: bold;
    padding: 10px;
  }
}




.commentHeader
{
  width: 300px;
  background-color: #eeeeee;
  margin-top: 5px;
  float:left;
  border-bottom: 1px solid #999999;
  padding: 3px;
}
//div that contains all of the comments
.commentBlock
{
  width: 300px;
  background-color: #eeeeee;
  float: left;
  height: 480px;
  overflow: auto;
}
.commentPicture
{
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.postComments
{
  width: 90%;
  margin-left: 10px;

  li
  {
    padding: 3px;
  }
}


.commentMedia
{
  //border: 1px solid black;
  //border-radius: 5px;
  margin-left: -10px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-right: 5px;

  h5
  {
    font-weight: bold;
    margin-top: 5px;
  }

  p
  {
    line-height: 0.9em;
    font-size: 1.1em;
  }
}

.commentLikeButton
{
  //width: 22px;
  //height: 20px;
  //float: right;
  margin-bottom: 5px;
  display: inline;
}

.commentDislikeButton
{
  //width: 22px;
  //height: 20px;
  //float: right;
  margin-bottom: 5px;
  display: inline;
}

.commentLikes
{
  margin-top:-10px;
}

.commentTextArea
{
  width: 295px;
  height: 75px;
}





//Profile Page
.userProfileTitle
{
  border: 2px solid black;
}

.userProfileTitleMedia
{
  padding: 10px;

  h1
  {
    font-weight: bold;
    margin-top: 20px;
  }
}

.userProfilePicture
{
  width: 85px;
  height: 85px;
  border: 1px solid black;
  border-radius: 50px;

  img
  {
    max-width: 85px;
    max-height: 85px;
    vertical-align: middle;
    height: 100%;
  }
}

.postThumbnail
{
  padding: 15px;

  &:hover
  {
    .thumbnail
    {
      background-color: #777777;
    }

    .deleteProfilePostButton
    {
      visibility: visible;
    }

  }

}

.thumbnail
{
  width: 100%;
  height: 150px;

  background-color: #444444;

  img
  {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

.caption
{
  border: 1px solid #333333;
  border-radius: 7px;
  margin-top: -15px;

  h4
  {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
  }

}

.makeMemesProfileButton
{
  float: right;
  margin-top: -50px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-weight: bold;
}

.settingsProfileButton
{
  float: right;
  margin-top: -50px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-weight: bold;
}

.deleteProfilePostButton
{
  position: absolute;
  top: 7px;
  left: 7px;
  color: #2255ff;
  font-size: 2.0em;
  background-color: #ffffff;
  visibility: hidden;
  width: 25px;
  height: 25px;

  &:hover
  {
    text-decoration: none;
    color: #ff2233;
  }

}




//Edit Page
body
{
  //background-image: url("signup_plate.jpg");
  //background-repeat: no-repeat;
  //background-position: top;
}



//Signup Page
.signupPage
{
  background-image: url("signup_plate.jpg");
  background-repeat: no-repeat;
}
